#!/usr/bin/env R
#### The variables below should be changed as appropriate #############
################################################################################
#### Load necessary libraries #########################################
seed   <- as.numeric(commandArgs()[4])
tot_seed  <- as.numeric(commandArgs()[5])

sex <- switch(ceiling(seed/(tot_seed)),'1' = "male", '2' = "female", NA)
seedVal <- ((seed-1) %% tot_seed) + 1

set.seed(seedVal)

name_var <- "prev_diabetes"

initial_values_dir     <- "/mnt/Model110, total diabetes initial values/Results/"
indir_values            <- paste0(initial_values_dir,name_var,"_", sex,"/initial_values/")

library(spam)                                                                           
options(spam.cholsymmetrycheck=FALSE,spam.structurebased=FALSE)                         
library(zoo)                                                                            
library(TTR)  
library(rockchalk)
library("Runuran")
                                                                         
last.mod.no <- 110

print(seedVal)

source("/mnt/NCD_RisC_diabetes_model.R")


